<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>房产管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="../../plugins/element-ui/index.css" />
    <link rel="stylesheet" href="../../styles/page.css" />

    <style>
        .el-col {
            border-radius: 4px;
        }
        .bg-purple-dark {
            background: #99a9bf;
        }
        .bg-purple-light {
            background: #e5e9f2;
        }
        .grid-content {
            border-radius: 4px;
            min-height: 36px;
        }
        .row-bg {
            padding: 10px 0;
            background-color: #f9fafc;
        }
    </style>
</head>
<body>

<div id="app">

    <div class="dashboard-container" id="food-app">
        <div class="container">
            <div class="tableBar">

                <el-form :inline="true" :model="formInline" class="demo-form-inline">
                    <el-form-item label="户主名称">
                        <el-input v-model="formInline.ownerName" placeholder="户主名称"></el-input>
                    </el-form-item>

                    <el-form-item label="小区名称">
                        <el-select v-model="formInline.communityName" placeholder="小区名称" clearable>
                            <el-option label="休伯利安" value="休伯利安"></el-option>
                            <el-option label="璃月" value="璃月"></el-option>
                        </el-select>
                    </el-form-item>

                    <el-form-item>
                        <el-button type="primary" @click="onSubmit">查询</el-button>
                    </el-form-item>
                </el-form>

                <div class="tableLab">
                    <!--    取消全选按钮-->
                    <el-button @click="toggleSelection()" type="primary">取消全选</el-button>
                    <!--    批量删除按钮-->
                    <el-button @click="multiDeleteHouse()" type="danger" >批量删除</el-button>
                    <!--    发布通知按钮-->
                    <el-button @click="addHouseInfo('add')" type="success" >新增信息</el-button>
                </div>
            </div>
        </div>

        <el-row>
            <el-col :span="24">
                <div class="grid-content bg-purple-dark">
                    <!--    房产管理表单-->
                    <el-table
                            ref="multipleTable"
                            :data="tableData"
                            tooltip-effect="dark"
                            style="width: 100%"
                            @selection-change="handleSelectionChange">

                        <el-table-column
                                type="selection"
                                width="45">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="communityName"
                                label="所属小区"
                                width="120">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="code"
                                label="房产编码"
                                width="120">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="ownerName"
                                label="户主名称"
                                width="120">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="telephone"
                                label="联系方式"
                                width="120">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="buildingName"
                                label="栋数"
                                width="90">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="unit"
                                label="单元"
                                width="90">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="floor"
                                label="楼层"
                                width="90">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                prop="roomNum"
                                label="房间号"
                                width="90">
                        </el-table-column>

                        <el-table-column
                                align="center"
                                label="入住时间"
                                prop="liveTime"
                                width="135">
                            <template slot-scope="scope">{{ scope.row.liveTime }}</template>
                        </el-table-column>

                        <el-table-column label="操作" align="center" width="150">
                            <template slot-scope="scope">
                                <el-button
                                        size="mini"
                                        type="primary"
                                        @click="addHouseInfo(scope.row.id)">修改
                                </el-button>
                                <el-button
                                        size="mini"
                                        type="danger"
                                        @click="handleDelete(scope.$index, scope.row)">删除
                                </el-button>
                            </template>
                        </el-table-column>
                    </el-table>
                </div>
            </el-col>
        </el-row>

        <div class="block" align="center">
            <el-pagination
                    @size-change="handleSizeChange"
                    @current-change="handleCurrentChange"
                    :current-page="currentPage"
                    :page-sizes="[5, 10, 15, 20]"
                    :page-size="pageSize"
                    layout="total, sizes, prev, pager, next, jumper"
                    :total="total">
            </el-pagination>
        </div>

    </div>

</div>


<!-- 开发环境版本，包含了有帮助的命令行警告 -->
<script src="../../plugins/vue/vue.js"></script>
<!-- 引入组件库 -->
<script src="../../plugins/element-ui/index.js"></script>
<!-- 引入axios -->
<script src="../../plugins/axios/axios.min.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                multipleSelection: [],

                //搜索框内容
                formInline: {
                    ownerName: '',
                    communityName: ''
                },

                //分页参数
                currentPage: 1,
                pageSize: 5,
                total: 0
            };
        },

        //钩子函数，页面初始化
        mounted() {
            this.getHouseByPage();
        },

        methods: {
            //取消多选框的全部选择
            toggleSelection(rows) {
                if (rows) {
                    rows.forEach(row => {
                        this.$refs.multipleTable.toggleRowSelection(row);
                    });
                } else {
                    this.$refs.multipleTable.clearSelection();
                }
            },

            handleSelectionChange(val) {
                this.multipleSelection = val
            },

            //删除
            handleDelete(index, row) {
                this.multipleSelection[0] = row;

                this.multiDeleteHouse()
            },

            //批量删除房产信息
            multiDeleteHouse(){
                let houseIds = [];
                for (let i = 0; i < this.multipleSelection.length; i++) {
                    houseIds.push(this.multipleSelection[i].id)
                }

                this.open(houseIds);
            },

            // 打开删除的确认对话框
            open(houseIds) {
                this.$confirm('此操作将永久删除该通知, 是否继续?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    this.deleteHouse(houseIds)
                }).catch(() => {
                    this.$message({
                        type: 'info',
                        message: '已取消删除'
                    });
                });
            },

            //删除房产信息的方法
            deleteHouse(houseIds){
                let str = "http://localhost:8080/house/delete?";

                for (let i = 0; i < houseIds.length; i++) {
                    if (i === houseIds.length - 1){
                        str = str.concat("houseIds=" + houseIds[i]);
                    }else {
                        str = str.concat("houseIds=" + houseIds[i] + "&");
                    }
                }

                axios({
                    url: str,
                    method: 'delete',
                }).then(resp => {
                    if (resp.data.result === true){
                        this.$message({
                            type: 'success',
                            message: '删除成功!'
                        });
                        this.getHouseByPage();
                    }else {
                        this.$message({
                            type: 'error',
                            message: '删除失败,请稍后再试!'
                        });
                    }
                });
            },

            //新增房产信息
            addHouseInfo(flag){
                if (flag === 'add'){
                    window.parent.menuHandle({
                        id: '3',
                        url: 'page/house/addouse.html',
                        name: '新增房产信息'
                    },true)
                } else {
                    window.parent.menuHandle({
                        id: '3',
                        url: 'page/house/addouse.html?id='+flag,
                        name: '修改房产信息'
                    },true)
                }
            },

            //查找房产信息
            onSubmit() {
                this.getHouseByPage();
            },

            handleSizeChange(val) {
                this.pageSize = val;
                this.currentPage = 1;

                this.getHouseByPage();
            },

            handleCurrentChange(val) {
                this.currentPage = val;
                this.getHouseByPage();
            },

            //分页查询房产信息
            getHouseByPage() {
                let ownerName = this.formInline.ownerName
                let communityName = this.formInline.communityName
                let currentPage = this.currentPage
                let pageSize = this.pageSize
                axios({
                    url: "http://localhost:8080/house/list",
                    method: 'get',
                    params: { ownerName, communityName, currentPage, pageSize }
                }).then(resp => {

                    if (resp.data.result === false && resp.data.msg === 'NOTLOGIN') {// 返回登录页面
                        localStorage.removeItem('userInfo')
                        window.top.location.href = '/web/page/login/login.html'
                    } else {
                        if (resp.data.result === false){
                            this.$message({
                                type: 'error',
                                message: resp.data.msg
                            });
                        }
                        this.tableData = resp.data.data.data
                        this.total = resp.data.data.total
                        this.currentPage = resp.data.data.currentPage
                    }
                });
            },
        }
    });

</script>

</body>
</html>